/* BASE STYLES */

body {
  margin-top: 20px;
  background-color: #B3C9D2 !important;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.textbody {
  width: 80%;
  height: auto;
  padding-top: 30px;  
}

.header {
  background-color: #B3C9D2 !important;
  padding: 20px;
  padding-top: 20px;
}

.sticky-header-css .header { 
  background-color: #914223;
  color: black;
  padding: 3rem;
  font-family: Cambria;
  font-weight: bold;
  font-size: 20px;
}

p.text-footer {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  padding-top: 5px;
}

/* SEARCH FIELD STYLES */

.searchInput {
  color:#9B2C33;
  font-weight: bold;
  text-align: center;
  padding: 20px 20px;
  width:150px;
  height: 60px;
  margin: 10px 10px;
}

.searchrow {
  margin-top: 55px;
  background-color:  #B3C9D2 !important;
  border: none;
  position: relative;
  left: 15%;
  top: 50%;
  width:70%;
}

.btnStyle {
  background-color:#9B2C33;
  color:#EFAD99;
  font-weight: bold;
  text-align: center;
  padding: 20px 20px;
  width:150px;
  height: 60px;
  margin: 10px 10px;
}

.btnStyle:hover {
  background-color:#EFAD99; 
  color:#9B2C33;
  font-weight: bold;
  text-align: center;
  padding: 20px 20px;
  width:150px;
  height: 60px;
  margin: 10px 10px;
}

/* MENU STYLES */

.menu {
margin-top: 50px;
margin-bottom: 20px;
}

.menu a {
  color: white;
  background: #914223;
  margin-top: 40px;
  margin-bottom: 10px;
}

.menu a:hover {
  color: #914223;
  background:#EFAD99;
}
.menu a:active {
  color: #914223;
  background:#EFAD99;
}

.menu .is-active > a {
  background:#EFAD99;
  color: #914223;
}

li {
  color:#110F15;
  font-family: 'Montserrat', serif;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0 20px;
}

/* STICKY FOOTER STYLES*/
  
.sticky-footer-css {
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.sticky-footer {
  margin-top: 25px;
  padding: 20px 0;
  height: 150px;
  width: 100%;
  background-color: #110F15;
  color: #fff;

}

.logo {
  width: 100px;
  height:60px;
  padding: 5px;
  padding-top: 10px;
}

/* MEDIA QUERIES */

/* MOBILE VIEWORT */
@media screen and (max-width: 39.9375em) {

  .sticky-header-css .header {
    padding-top: 10px;
    padding-bottom:  0; 
  }

  img {
    display: inline-block;
    vertical-align: middle;
    max-width: 70%;
    height: auto;
    -ms-interpolation-mode: bicubic;
  }

  .textbody {
    width: 70%;
    padding-top: 20px 0;  
  }

  /* SEARCH FIELDS */

  .searchrow {
    margin-top: 40px;
    margin-bottom: 20px;
    border: none;
    position: relative;
    left: 5%;
    top: 50%;
    width:90%;
  }

  .searchInput {
    color:#9B2C33;
    font-weight: bold;
    text-align: center;
    padding: 5px 5px;
    width:100px;
    height: 40px;
    margin: 10px 5px;
  }

  .btnStyle {
    font-size: 12px;
    background-color:#9B2C33;
    color:#EFAD99;
    align-content: center;
    padding: 5px 5px;
    height: 40px;
    margin: 10px 5px;
  }

  .btnStyle:hover {
    font-size: 12px;
    padding: 5px 5px;
    height: 40px;
    margin: 10px 5px;
  }

  .sticky-footer-css {
    height: 100vh;
    display: flex;
  }
  
  .sticky-footer {
    margin-top: 25px;
    padding: 20px 0;
    height: 100px;
    width: 100%;
    background-color: #110F15;
    color: #fff;
  
  }
  
  /* MENU STYLE */
  .menu a {
    margin: 15px 0;
  }

  li {
    font-size: 8px;
    padding: 0 2px;
  }

  .header {
    padding: 10px;
    padding-top: 10px;
  }

  /* FOOTER STYLES */
  .logo {
    width: 60px;
    height: 40px;
  }

  p.text-footer {
    font-size: 8px;
    padding-top: 5px;
  }

  ::-webkit-input-placeholder {
    font-size: 12px;
  }

}

/* TABLET VIEWPORT */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

  li {
    font-size: 14px;
    padding: 0 5px;
  }

}




