/* BASE STYLES */

body {
  background-color: #b3c9d2 !important;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.app-logo {
  width: 40%;
  margin: auto;
  padding: 5px;
  padding-top: 10px;
}

.header {
  background-color: #b3c9d2 !important;
  padding: 20px;
  padding-top: 20px;
}

.fandom {
  font-family: "Cinzel";
  font-size: 52px;
  color: #9b2c33;
  text-transform: lowercase;
  font-weight: bolder;
  margin-top: -20px;
}

.catchy-title {
  font-family: "Jim Nightshade", cursive;
  font-size: 52px;
  margin-top: 20px 0;
  padding: 20px 0;
  line-height: 25px;
}

.quill {
  color: #9b2c33;
  margin-left: 10px;
  padding: 0;
}

/* MAIN CONTENT STYLES */

.textstyles {
  background-image: url("../assets/images/GoT-Logo-bkgd2.png");
  color: #110f15;
  font-size: 24px;
  width: 100%;
  height: auto;
  margin: 20px 0px;
  padding-top: 30px;
  align-items: center;
  z-index: 2;
  width: 64%;
  margin: auto;
}

.hero {
  background-position: center;
  background-attachment: fixed;
  margin-top: 40px;
  z-index: -1;
  background-repeat: no-repeat;
  padding: 40px 0;
}

.kit {
  font-family: "Jim Nightshade", cursive;
  font-size: 42px;
  color: #9b2c33;
  text-transform: capitalize;
  letter-spacing: 4px;
}

/* SEARCH FIELD STYLES */

.searchInput {
  color: #9b2c33;
  font-weight: bold;
  text-align: center;
  padding: 20px 20px;
  width: 75%;
  height: 60px;
  margin: 10px 0px;
}

.searchrow {
  margin-top: 55px;
  background-color: #b3c9d2 !important;
  border: none;
  position: relative;
  left: 15%;
  top: 50%;
  width: 70%;
}

.btnStyle {
  background-color: #110f15;
  color: #efad99;
  font-weight: bold;
  text-align: center;
  padding: 20px 20px;
  width: 25%;
  height: 60px;
  margin: 10px 0;
}

.btnStyle:hover {
  background-color: #efad99;
  color: #9b2c33;
  font-weight: bold;
  text-align: center;
  padding: 20px 20px;
  width: 25%;
  height: 60px;
  margin: 10px 0;
}

/* SEARCH OUTPUT STYLES */

.background-color {
  margin-top: 0px;
}

.output-results {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  width: 65%;
  margin: auto;
}

.results-title {
  font-family: "Cinzel";
  font-size: 20px;
  color: #9b2c33;
  text-decoration-line: underline #efad99;
  text-transform: uppercase;
  font-weight: 800;
}

.figcaption {
  font-family: "Montserrat";
  font-size: 12px;
  color: #914223;
  text-transform: capitalize;
  font-weight: bold;
}

.img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

/* MENU STYLES */

.menu {
  margin-bottom: 20px;
}

.menu a {
  color: white;
  font-size: 20px;
  background: #9b2c33;
  margin-top: 40px;
  margin-bottom: 10px;
  padding: 40px 40px;
}

.menu a:hover {
  color: #914223;
  background: #efad99;
}
.menu a:active {
  color: #914223;
  background: #efad99;
}

.menu .is-active > a {
  background: #efad99;
  color: #914223;
}

li {
  color: #110f15;
  font-family: "Montserrat", serif;
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0 20px;
  align-content: center;
}

.icon {
  margin-bottom: 10px;
}

/* USER REGISTRATION */

.register-row {
  margin-top: 25px;
  position: relative;
  left: 45%;
  width: 100%;
}

.registerBtnStyle {
  background-color: #110f15;
  color: #efad99;
  font-weight: bold;
  text-align: center;
  padding: 10px 20px;
  width: 150px;
  height: 60px;
  margin: 10px 10px;
  box-shadow: 5px 5px;
}

.registerBtnStyle:hover {
  background-color: #efad99;
  color: #110f15;
  font-weight: bold;
  text-align: center;
  padding: 10px 20px;
  width: 150px;
  height: 60px;
  margin: 10px 10px;
  box-shadow: 5px 5px;
}
/*FORM REGISTRATION STYLE*/

h3 {
  font-family: "Montserrat";
  color: #914223;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.form_style {
  width: 64%;
  background-color: #efad9982;
  padding: 30px;
  justify-content: center;
  align-items: center;
  z-index: 4;
  margin: auto;
}

label {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}
.register-button {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  color: white;
  background: #9b2c33;
}
.register-button:hover {
  color: #efad99;
  background: #110f15;
}

#hideRegis {
  display: none;
  margin-top: 20px;
}

/* STICKY FOOTER STYLES*/

.sticky-footer-css {
  height: 100vh;
  display: flex;
}

.sticky-footer {
  margin-top: 25px;
  padding: 20px 0;
  height: 25%;
  width: 100%;
  background-color: #110f15;
  color: #fff;
}

.logo {
  width: 10%;
  margin: auto;
  padding: 5px;
}

p.text-footer {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

/* MEDIA QUERIES */

/* MOBILE VIEWORT */
@media screen and (max-width: 39.9375em) {
  .sticky-header-css .header {
    padding-top: 10px;
    padding-bottom: 0;
  }

  img {
    display: inline-block;
    vertical-align: middle;
    max-width: 80%;
    height: auto;
  }

  .fandom {
    font-size: 22px;
    margin-top: -20px;
  }

  .catchy-title {
    font-size: 30px;
    margin-top: -10px;
    padding: 10px 0;
    line-height: 25px;
  }

  .quill {
    color: #9b2c33;
  }

  .textstyles {
    width: 100%;
    padding-top: 10px 0;
    margin: 10px 0;
    width: 84%;
    margin: auto;
    font-size: 18px;
  }

  .hero {
    background-position: center;
    background-attachment: fixed;
    margin-top: 40px;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 2px;
  }

  /* SEARCH FIELDS */

  .searchrow {
    margin-top: 40px;
    margin-bottom: 20px;
    border: none;
    position: relative;
    left: 5%;
    top: 50%;
    width: 90%;
  }

  .searchInput {
    color: #9b2c33;
    font-weight: bold;
    text-align: center;
    padding: 5px 5px;
    width: 100px;
    height: 40px;
    margin: 10px 0;
    border-radius: 5px;
  }

  .btnStyle {
    font-size: 12px;
    background-color: #110f15;
    color: #efad99;
    align-content: center;
    padding: 5px 5px;
    height: 40px;
    margin: 10px 0;
  }

  .btnStyle:hover {
    font-size: 12px;
    padding: 5px 5px;
    height: 40px;
    margin: 10px 0;
  }

  .sticky-footer-css {
    height: 100vh;
    display: flex;
  }

  .sticky-footer {
    margin-top: 25px;
    padding: 20px 0;
    height: 100px;
    width: 100%;
    background-color: #110f15;
    color: #fff;
  }

  /* RESULT FIELDS */

  .output-results {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    width: 85%;
    margin: auto;
    margin-top: 20px;
  }

  .form_style {
    width: 90%;
  }

  /* MENU STYLE */
  .menu a {
    padding: 25px 25px;
    font-size: 14px;
    margin: 20px 5px;
  }

  li {
    font-size: 10px;
    padding: 0 2px;
  }

  .header {
    padding: 10px;
    padding-top: 10px;
  }

  /* FOOTER STYLES */
  .logo {
    width: 60px;
    height: 40px;
  }

  p.text-footer {
    font-size: 8px;
    padding-top: 5px;
  }

  ::-webkit-input-placeholder {
    font-size: 12px;
  }

  /* REGISTRATION STYLES */
  .register-row {
    margin-top: 25px;
    border: none;
    position: relative;
    left: 30%;
    width: 100%;
  }
}

/* TABLET VIEWPORT */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .menu a {
    margin: 15px 0;
    padding: 25px 25px;
    font-size: 16px;
  }

  li {
    font-size: 14px;
    padding: 0 5px;
  }

  .results {
    font-size: 30px;
  }

  .fandom {
    font-size: 28px;
    color: #9b2c33;
    text-transform: capitalize;
    font-weight: bolder;
    margin-top: -20px;
  }

  .catchy-title {
    font-size: 42px;
    margin-top: -15px;
    padding: 20px 0;
    line-height: 15px;
  }

  .quill {
    color: #9b2c33;
    margin-left: 10px;
    padding: 0;
  }

  .textbody {
    font-size: 20px;
  }

  .register-row {
    margin-top: 25px;
    border: none;
    position: relative;
    left: 40%;
    width: 100%;
  }
}
